/* footer root component */

#footerStyles_root {
    margin-top: 12rem;
}

/* inner footer wrap surrounding the images and logo */

#footerStyles_innerWrap {
    padding: 1rem 0;
}

/* footer logo */

#footerStyles_logoImg {
    display: block;
    width: 100%;
    max-width: 15rem;
}

/* copyright text */

#footerStyles_copyrightText {
    text-align: center;
}

/* ownership text wrapper */

#footerStyles_ownershipWrap {
    text-align: center;
    position: relative;
}

/* ownership text */

#footerStyles_ownershipText {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* heart icon */

#footerStyles_heartIcon {
    margin: 0 .3rem;
    color: rgb(133, 0, 0);
}
/* login icon */
#footerStyles_loginIcon {
    position: absolute;
    bottom: 0;
    left: 12px;
    font-size: 1.4rem;
    opacity: 0;
    cursor: default;
}
#footerStyles_loginIcon:hover {
    opacity: 1;
}