/* footer root component */

#footerStyles_root {
    margin-top: 8rem;
}

/* inner footer wrap surrounding the images and logo */

#footerStyles_innerWrap {
    padding: 1rem 0;
}

/* footer logo */

#footerStyles_logoImg {
    display: block;
    width: 100%;
    max-width: 15rem;
}

/* copyright text */

#footerStyles_copyrightText {
    text-align: center;
}

/* ownership text wrapper */

#footerStyles_ownershipWrap {
    text-align: center;
    position: relative;
}

/* ownership text */

#footerStyles_ownershipText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* ownership name */

#footerStyles_ownershipText>a {
    text-decoration: none;
    margin-left: .4rem;
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
    padding: .2rem 0;
    position: relative;
    color: black;
}

#footerStyles_ownershipText>a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#footerStyles_ownershipText>a:hover:after {
    width: 100%;
    left: 0;
}

/* heart icon */

#footerStyles_heartIcon {
    margin: 0 .3rem;
    color: rgb(133, 0, 0);
}

/* login icon */

#footerStyles_loginIcon {
    position: absolute;
    bottom: 0;
    left: 12px;
    font-size: 1.4rem;
    opacity: 0;
    cursor: default;
}

#footerStyles_loginIcon:hover {
    opacity: 1;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 1436px) {
    /* footer root component */
    #footerStyles_root {
        margin-top: 5rem;
    }
}