/* home page root element */

#homePageStyles_root {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* header image wrapper */

#homePageStyles_introImageWrap {
    height: 100%;
    margin-top: 2rem;
    position: relative;
}

/* inner image wrapper around images */

#homePageStyles_introInnerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
}

/* main center image of cait */

#homePageStyles_mainImg {
    position: absolute;
    top: 2rem;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 70%;
    max-width: 30rem;
    /* max-width: 49rem; */
    border: .8rem solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* the two background images behind the front middle image one is left and the other is right*/

.homePageStyles_underlayImgLeft {
    display: block;
    width: 100%;
    height: 38rem;
    margin-right: 1rem;
    margin-left: .5rem;
}

.homePageStyles_underlayImgRight {
    display: block;
    width: 100%;
    height: 38rem;
    margin-left: 1rem;
    margin-right: .5rem;
}

/* about section wrapper */

#homePageStyles_aboutWrap {
    height: 8rem;
    margin-top: 11rem;
    padding: 1rem;
}

/* inner wrap surrounding the paragraph intro text */

#homePageStyles_aboutPWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* the paragraph text */

.homePageStyles_pText {
    width: 42rem;
    text-align: center;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 646px) {
    /* the two background images behind the front middle image one is left and the other is right*/
    .homePageStyles_underlayImgLeft {
        height: 34rem
    }
    .homePageStyles_underlayImgRight {
        height: 34rem
    }
}

@media only screen and (max-width: 578px) {
    /* the two background images behind the front middle image one is left and the other is right*/
    .homePageStyles_underlayImgLeft {
        height: 30rem
    }
    .homePageStyles_underlayImgRight {
        height: 30rem
    }
}

@media only screen and (max-width: 492px) {
    /* the two background images behind the front middle image one is left and the other is right*/
    .homePageStyles_underlayImgLeft {
        height: 26rem
    }
    .homePageStyles_underlayImgRight {
        height: 26rem
    }
}

@media only screen and (max-width: 424px) {
    /* the two background images behind the front middle image one is left and the other is right*/
    .homePageStyles_underlayImgLeft {
        height: 22rem
    }
    .homePageStyles_underlayImgRight {
        height: 22rem
    }
}

@media only screen and (max-width: 352px) {
    /* the two background images behind the front middle image one is left and the other is right*/
    .homePageStyles_underlayImgLeft {
        height: 20rem
    }
    .homePageStyles_underlayImgRight {
        height: 20rem
    }
}