/* form wrapper */

#loginStyles_formWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 95%;
    max-width: 24rem;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 3px 12px rgb(219, 219, 219);
}

/* form element */

#loginStyles_form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/* input */

.loginStyles_input {
    width: auto;
    display: block;
    text-align: left;
    margin: 1.5rem 0;
    padding: .8rem .5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid white;
}

.loginStyles_input:focus {
    outline: none;
}

#loginStyles_passwordWrap {
    position: relative;
}

/* style of password icons */

.passwordIcon {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* action wrapper for login buttons */

.loginStyles_actionWrap {
    display: flex;
    justify-content: center;
}

/* submit button for form */

#loginStyles_submitBtn {
    /* background-color: #1b1e1a; */
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
}