/* navbar itself */

.nav {
    height: 3.5rem;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 15px rgba(126, 126, 126, 0.394);
}

/* nav logo wrapper */

.navLogoWrapper {
    display: flex;
}

/* nav logo */

#navLogo {
    width: 10rem;
}

/* nav link buttons */

.nav-link {
    color: transparent;
    margin: 0 .5rem;
}

/* nav link wrapper */

.navLinkWrap {
    float: right;
    display: flex;
    margin-top: .8rem;
}

/* style of text buttons for navigation links */

.navSpan {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.3rem;
}

.navSpan:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #d492af;
    content: "";
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.navSpan:hover:after {
    width: 100%;
}

/* media query for the mobile sized nav */

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover, .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}