/* root element of page */

#aboutPageStyles_root {
    padding: 0;
    margin: 0;
    height: 100%;
}

/* title of page */

#aboutPageStyles_title {
    text-align: center;
}

/* polaroid images wrapper */

.aboutPageStyles_pRoidWrap {
    position: relative;
    width: 12rem;
    height: 18rem;
    background-color: transparent;
    margin: 2rem 1rem;
}

/* box shadow for polaroid */

.aboutPageStyles_pRoidWrap:before, .aboutPageStyles_pRoidWrap:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 17px;
    left: 4px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #555;
    -webkit-box-shadow: 0 15px 15px rgba(85, 85, 85, 0.6);
    -moz-box-shadow: 0 15px 15px rgba(85, 85, 85, 0.6);
    box-shadow: 0 15px 15px rgba(85, 85, 85, 0.6);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.aboutPageStyles_pRoidWrap:after {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
    right: 4px;
    left: auto;
}

/* rotating polaroids */

.aboutPageStyles_pRoidWrap:nth-child(odd) {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
}

.aboutPageStyles_pRoidWrap:nth-child(even) {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

/* polaroid picture */

.aboutPageStyles_polaroidImg {
    width: 100%;
    height: 100%;
}

/* image inside the polaroid */

.aboutPageStyles_innerImg {
    position: absolute;
    display: block;
    width: 10.75rem;
    top: 14px;
    left: 10px;
    height: 13.5rem;
}

/* thumbtack image */

.aboutPageStyles_thumbtack {
    position: absolute;
    top: 0;
    left: 6rem;
    height: 1.8rem;
    transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

/* content wrapper containing about text */

#aboutPageStyles_contentWrap {
    width: 100%;
    max-width: 55rem;
    margin: 2rem 1rem;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

/* about text p element */

.aboutPageStyles_aboutText {
    line-height: 1.5rem;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
    .aboutPageStyles_pRoidWrap:nth-child(odd) {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(-0deg);
        -o-transform: rotate(-0deg);
        -ms-transform: rotate(-0deg);
        transform: rotate(-0deg);
    }
}