.buttonStyles_btn {
    margin: 1rem 0;
    padding: .5rem .8rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.2rem;
    border-radius: 3px;
}
.buttonStyles_btn:focus {
    outline: none;
}

.push {
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.push:hover {
    animation-name: push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* the inner section for icon buttons */

.push>span {
    display: inline-flex;
    align-items: center;
}

@keyframes push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}