/* root element for component */

/* #postContentStyles_root {
    background-color: #8f0303;
} */

/* authenticated buttons for edit and deleting */

#postContentStyles_authActionBtnWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

/* delete icon  */
.postContentStyles_deleteIcon {
    margin-left: .4rem;
}