/* root element for component */

#resaveStyles_root {}

/* page title */

#resaveStyles_pageTitle {
    text-align: center;
    margin: 2rem 0;
}

/* wrapper for title and category inputs */

#resaveStyles_titleCategoryWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}

/* title input */

#resaveStyles_titleInput {
    border: 1px solid rgb(98, 98, 98);
    border-radius: 3px;
    padding: .3rem .4rem;
    font-size: 1rem;
}

/* category input */

#resaveStyles_categoryInput {
    border: 1px solid rgb(98, 98, 98);
    border-radius: 3px;
    padding: .3rem .4rem;
    font-size: 1rem;
}

/* summary input */

#resaveStyles_summaryInput {
    width: 90%;
    max-width: 25rem;
    border: 1px solid rgb(98, 98, 98);
    margin-bottom: 2rem;
    padding: .3rem
}

/* cover image input */

#resaveStyles_coverImgInput {
    width: 25rem;
    border: 1px solid rgb(98, 98, 98);
    margin-bottom: 2rem;
}

#resaveStyles_coverImgInput .ql-container {
    width: 25rem;
    height: 100%;
}

/* image inside cover image input */

#resaveStyles_coverImgInput img {
    display: block;
    width: 24rem;
}

/* content input */

#resaveStyles_contentInput {
    width: 90%;
    border: 1px solid rgb(98, 98, 98);
}

#resaveStyles_contentInput .ql-container {
    height: 30rem;
}

#resaveStyles_contentInput img {
    display: block;
    width: 14rem;
}

/* submit button */

#resaveStyles_publishBtn {
    margin: 1rem 0;
}

/* resave button */

#resaveStyles_resaveBtn {}