/* card */

.postItemStyles_card {
    height: 100%;
    min-height: 26rem;
    width: 100%;
    max-width: 28rem;
    /* background-color: rgb(189, 189, 189); */
    border-radius: 3px;
    position: relative;
    margin: 3rem .8rem;
    cursor: pointer;
}

/* inner card wrap to keep the content aligned with the image */

.postItemStyles_innerCard {
    padding: .5rem;
}

/* cover image wrapper */

.postItemStyles_coverImgWrap {
    margin-top: -2rem;
    width: 100%;
    max-width: 22rem;
    height: 18rem;
    position: relative;
}

/* cover image */

.postItemStyles_coverImg img {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position: absolute;
}

/* quill p tag surrounding the img element */

.postItemStyles_coverImg>p {
    margin: 0;
}

/* content wrapper holding the title, summary, category and button */

.postItemStyles_contentWrap {
    width: 100%;
}

/* title */

.postItemStyles_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
}

/* date */

.postItemStyles_date {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

/* the divider dividing the date and summary */

.postItemStyles_divider {
    border: 1px solid;
    margin: 1rem 0;
}

/* summary */

.postItemStyles_summary {
    width: 90%;
    max-width: 22rem;
    height: 100%;
    min-height: 6rem;
    /* position: relative; */
}

/* comment wrapper */

.postItemStyles_iconWrap {
    display: flex;
    align-items: center;
    margin: .5rem;
}

/* comment icon */

.postItemStyles_icon {
    font-size: 1.3rem;
    margin-right: .1rem;
}

/* comment number */

.postItemStyles_iconNum {
    font-size: 1.2rem;
    margin-left: .1rem;
}

/* read button */

.postItemStyles_readBtn {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* the read button icon */

.postItemStyles_readIcon {
    font-size: 2rem;
}