/* form for adding the comment */

#addCommentStyles_form {
    text-align: center;
    width: 100%;
    padding: 1rem;
}

/* text inputs */

.addCommentStyles_inputs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 18rem;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 1rem;
}

/* modal styles */

.addCommentStyles_modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 800;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.addCommentStyles_modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.addCommentStyles_modal-window>div {
    width: 90%;
    max-width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    border-radius: 3px;
}

/* header surrounding title */

#addCommentStyles_modalHeader {
    height: 2rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 5px;
    margin-top: 1rem;
}

/* modal title text */

#addCommentStyles_modalTitle {
    font-size: 1.3rem;
    font-weight: 500;
}

/* modal content wrap around text */

#addCommentStyles_modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

/* style of text content */

.addCommentStyles_modalContentText {
    font-size: 1rem;
}

/* button wrapper */

#addCommentStyles_btnWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

/* the form error message */

#addCommentStyles_errorMsg {
    position: absolute;
    bottom: -16px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: .8rem;
    color: red;
    width: 100%;
    text-align: center;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 378px) {
    /* text inputs */
    .addCommentStyles_inputs {
        max-width: 12rem;
    }
}