/* root element of the pagedata component */

#postDataStyles_root {
    display: block;
    width: 100%;
    max-width: 60rem;
    border: 2px solid black;
    height: 100%;
    margin: .5rem;
}

/* title */

#postDataStyles_title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    margin: 2rem 0;
}

/* post content */

#postDataStyles_content {
    width: 100%;
}

/* the content images */

#postDataStyles_content img {
    height: 8rem;
    width: auto;
}

/* date wrapper */

#postDataStyles_dateWrap {
    text-align: center;
    color: grey;
    font-weight: 600;
    font-size: .8rem;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 438px) {
    /* the content images */
    #postDataStyles_content img {
        width: 100%;
        height: auto;
    }
}