/* root element of the pagedata component */

#postDataStyles_root {
    display: block;
    width: 100%;
    max-width: 60rem;
    border-radius: 3px;
    height: 100%;
    margin: 3rem .5rem 1rem .5rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

/* title */

#postDataStyles_title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    margin: 2rem 0;
}

/* post content */

#postDataStyles_content {
    width: 100%;
}

/* post text */

#postDataStyles_content>.ql-container>.ql-editor>p {
    font-size: 1rem;
    line-height: 1.4rem;
}

/* the content images */

#postDataStyles_content img {
    height: auto;
    width: 100%;
    max-width: 18rem;
}

/* date wrapper */

#postDataStyles_dateWrap {
    text-align: center;
    color: grey;
    font-weight: 600;
    font-size: .8rem;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 438px) {
    /* the content images */
    #postDataStyles_content img {
        width: 100%;
        height: auto;
    }
}