/* root component element */

#postCategoriesStyles_root {
    height: 35rem;
    margin-top: 7rem;
}

/* relative background for the cards */

#postCategoriesStyles_relativeBg {
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

/* outer card style */

.postCategoriesStyles_outerCard {
    width: 100%;
    max-width: 22rem;
    margin: 3rem .5rem 0 .5rem;
    background-color: white;
    height: 21rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* each category card */

.postCategoriesStyles_outerCard>.postCategoriesStyles_card {
    height: 18rem;
    width: 100%;
    background-color: rgb(97, 97, 97);
}

/* ! NEED TO CHANGE THE HOVER EFFECT TO SOMETHING THE CLIENT LIKES */

.postCategoriesStyles_outerCard:hover {
    /* -webkit-transform: scale(1.1) rotate(-4deg);
    -moz-transform: scale(1.1) rotate(-4deg);
    -ms-transform: scale(1.1) rotate(-4deg);
    -o-transform: scale(1.1) rotate(-4deg);
    transform: scale(1.1) rotate(-4deg); */
}

/* selecting the middle card for unique styling */

.postCategoriesStyles_outerCard:nth-child(2) {
    /* margin-top: 6rem; */
}

/* card label text */

.postCategoriesStyles_labelText {
    text-align: center;
    margin: .4rem 0 0 0;
    font-size: 1.4rem;
}

/* the lifestyle background */

.postCategoriesStyles_outerCard:nth-child(1)>.postCategoriesStyles_card {
    background-image: url('../../../assets/images/graphics.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* devotional background */

.postCategoriesStyles_outerCard:nth-child(2)>.postCategoriesStyles_card {
    background-image: url('../../../assets/images/graphics.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* graphics background */

.postCategoriesStyles_outerCard:nth-child(3)>.postCategoriesStyles_card {
    background-image: url('../../../assets/images/graphics.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 1103px) {
    .postCategoriesStyles_outerCard {
        margin: 2rem;
    }
    .postCategoriesStyles_outerCard:nth-child(2) {
        margin-top: 2rem;
    }
    #postCategoriesStyles_relativeBg {
        height: auto;
    }
    #postCategoriesStyles_root {
        height: auto;
    }
}